.profile-img {
  float: left;
  // top: 0;
  // left: 0;
}

.rogue-header {
  // background-image: linear-gradient(to bottom, rgba(51,51,51,1), rgba(51,51,51,1));
  background-color: $gray;
  clear: both;
  text-align: center;
  border-bottom: 5px solid $purple;
  margin: 0 0 15px 0;
  padding: 0;
  height: 200px;
  position: relative;
  h1, p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: $mint;
    margin: 0;
    text-align: right;
    padding: 15px;
  }
}

.img-block {
  box-sizing: border-box;
  margin: 15px;
  border-right: 5px solid $mustard;
  border-bottom: 5px solid $mustard;
  max-height: 165px;
  // position: absolute;
}


.main-logo {
  float: left;
  max-height: 165px;
}

.login-form {
  float: right;
  width: 25%;
}
