.sidebar {
  a:active, a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
  }
  section {
    padding: 10px;
    box-sizing: border-box;
    height: 20%;
  }
  h1 {
    padding: 15%;
    border-right: 5px solid $mustard;
    border-bottom: 5px solid $mustard;
    background-color: white;
    width: inherit;
    font-family: $fonts;
    margin: 0;
    text-align: center;
    color: $sky;
  }
}
