.rogue-img-block {
  padding: 10px;
  position: relative;
  box-sizing: border-box;

  h1 {
    font-family: $fonts;
    top: 10px;
    left: 10px;
    margin: 0;
    height: 100%;
    padding: 1em 25px 0px 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    color: $sky;
  }

  img {
    border-right: 5px solid $mustard;
    border-bottom: 5px solid $mustard;
  }
}
