$dark: #333481;
$light: rgb(251,206,53);
$gray: #333333;


//Fantastic Mr. Fox Palette
$mustard: #e8c95d;
$coral: #d16b54;
$mint: #a9d8c8;
$purple: #433477;
$linoleum: #b9b09f;

//The Darjeeling Limited Palette
$sky: #dde8e0;
$blue: #749ca8;
$sand: #f9e0a8;
$leather: #bc5e21;
$tweed: #8b8378;
