<section class="rogue-img-block col-lg-4">
  <img src="img/bw_race_1.jpg" alt="bill murray" class="img-responsive">
</section>
<section class="rogue-img-block col-lg-4">
  <img src="img/bw_weight_1.jpg" alt="bill murray" class="img-responsive">
</section>
<section class="rogue-img-block col-lg-4">
  <img src="img/bw_medal_1.jpg" alt="bill murray" class="img-responsive">
</section>
<section class="rogue-img-block col-lg-12">
  <img class="img-responsive" src="img/bw_creek_1.jpg" alt="runner in rocky creek" width="100%">
</section>
